

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* outline: 5px solid rgba(255,0,0,0.3); */
}

body{
  background-color: #333; 
  color: white;
  font-family: Helvetica, Arial, san-serif;
}

.hero {
    /* border: 1px solid red; */
    height: 70vh;
    background: url(images/US-en-20220815-popsignuptwoweeks-perspective_alpha_website_large.jpg) center center/cover;
    position: relative;
    width:100%;
    /* display:flex;
    flex-direction: column; */
}

.hero::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
}

.hero header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    z-index: 2;
    position: relative;
}

.hero header img {
    width: 160px;
}

.hero .text {
    position: relative;
    z-index: 2;

    width: 70%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    margin: auto;
    margin-top: 6rem;
}

.hero .text h1 {
    font-size:3rem;
    margin-bottom:1.5rem;
}

.hero .text h2 {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 1.5rem
}

.hero .text h3 {
    font-size: 1.25rem;
    font-weight: 100;
    margin-bottom: 1rem

}

.email-container {
    width: 100%;
}

.email-container input {
    width: 70%;
}

.email-container a {
    width:30%;
}

